extends layout

block content
    div(class='fullwidth inline')
        a(href='./login', class='btn btn-danger margin inline right') Login
        a(href='./register', class='btn btn-danger margin inline right') Register
