body {
  padding: 50px;
}
a {  color: #00B7FF;}

/* CORE STYLE */
.full{    width: 100%;}
.inline{  display: inline-block;}
.block{   display: block;}
.f-right{ float: right;}
.f-left{  float: left;}
.right{   text-align: right;}
.left{    text-align: left;}
.center{  text-align: center;}
.bold{    font-weight: bold;}
.font11{  font-size: 11px;}
.font24{  font-size: 24px;}
.margin5{ margin: 5px;}
.padding5{padding: 5px;}
.pointer{ cursor: pointer;}

.control-label{  text-align: left !important;}

/*LOGIN FORM*/
.login-block{ border: 1px solid #28a4c9; width: 400px;}
.login-header{
  background-color: #28a4c9;
  margin-bottom: 15px;
  color: #fff;
}